/* We are using external css */
html{
    background-color: black;
}
#cat{
    /* For centering */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    height: 200px;
    width: 200px;
    border: 5px solid blue;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', cursive;
    font-size: 3rem;
    text-transform: uppercase;
}
p{
    text-align: center;
    color: orange;
    font-size: 2rem;
}